
<div class="row">
	<div class="large-12 small-centered columns">
		<br>
		<br>
		<h1>Watched anything good lately?</h1>
		<br>
		<br>
	</div>
</div>
<div class="row">
	<div class="large-12 small-centered columns">
		<br>
		<br>
		<a href="<%="/auth/google_oauth2" %>" class="large button expand">Sign in with YouTube</a>
		<br>
		<br>
	</div>
</div>