
<div class="row">
	<div class="large-12 columns">
		<br>
		<br>
		<h1>What should we watch together?</h1>
		<br>
		<br>
	</div>
</div>

<div class="row">
	<% @users.each do |user| %>
	 	<% user.movies.each do |movie| %>
		<div class="small-6 columns">
				<div class="flex-video">
					<iframe 
						id="ytplayer" 
						type="text/html" 
						width="640" 
						height="390" 
						src="https://www.youtube.com/embed/<%= movie.unique_id %>" 
						frameborder="0" 
						controls="2" />
						</iframe>
				</div>
		</div>
		<% end %>
	<% end %>

<div class="row">
	<div class="small-6 columns">
		<br>
		<br>
	</div>
</div>