<!DOCTYPE html>
<html>
<head>
  <title>App</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="nav_bar">

<% if current_user %>
	<h3>Signed in as <% current_user.first_name %></h3>
<% end %>

</div>

<%= yield %>

</body>
</html>
